<!doctype html>
<html lang="en">

<head>
  <title>Home Sweet Home - Fashion Items</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://kit.fontawesome.com/b6ad69ea1e.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" href="https://i.ibb.co/FKJtXdf/icon.png">
  <link rel="stylesheet" type="text/css" href="/Styles.css">


  <!-- Bootstrap CSS v5.2.1 -->
  <link rel="stylesheet" href="Styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- Modal Login -->
    <div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitleId"> Hello again!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mb-3">
          <form>
            E-mail:
            <div class="input-group">
              <input id="email" type="email" class="form-control" name="email" placeholder="Email" required>
              <span class="input-group-text">
                <i class="fa-solid fa-user"></i>
              </span>
            </div>
            <br>Password:
            <div class="input-group">
              <input id="password" type="password" class="form-control" name="password"
                placeholder="Password" required>
              <span class="input-group-text">
                <i class="fa-solid fa-lock"></i>
              </span>
            </div>
            <br>
            <div class="text-center">
              <button class="btn btn-primary" type="submit">Log-In</button>
            </div>
          </form>
        </div>
        <div class="modal-footer" style="justify-content: center;">
          <p>Don't have an account? <a href="#" data-bs-toggle="modal" data-bs-target="#modalSignUp">Sign up</a></p>
        </div>
      </div>
    </div>
  </div>
</head>

<!-- Modal Sign Up -->
<div class="modal fade" id="modalSignUp" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Join Us!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row mb-3">
            <div class="col-6">
              <input type="text" class="form-control" name="name" id="first-name" placeholder="First name" required>
            </div>
            <div class="col-6">
              <input type="text" class="form-control" name="name" id="last-name" placeholder="Last name" required>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mb-3">
              <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
            </div>
            <div class="col-12 mb-3">
              <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
            </div>
            <div class="col-12 mb-3">
              <input type="password" class="form-control" name="password" id="confirm-password" placeholder="Confirm password" required>
            </div>                      
        </form>
        <div class="text-center">
          <button class="btn btn-success" type="submit">Sign-Up</button>
        </div>
      </div>      
      </div>
      <div class="modal-footer" style="justify-content: center;">
        <p>Already have an account? <a href="#" data-bs-toggle="modal" data-bs-target="#modalId">Log-in</a></p>
      </div>
    </div>
  </div>
</div>

<body>
    <header>
        <!-- place navbar here -->
        <nav class="navbar navbar-expand-sm navbar-dark" id="mynavbar">
          <div class="container-fluid">
            <a class="navbar-brand" href="home.html"><img src="https://i.ibb.co/FKJtXdf/icon.png" width="30px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link" href="home.html">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about_us.html">About us</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Products</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="cat_A.html">Collection</a></li>
                    <li><a class="dropdown-item" href="cat_B.html">Fashion</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex justify-content-center align-items-center">
                <input class="form-control me-auto" type="text" placeholder="Type here...">
                <button id="mybutton" class="btn search" type="button">Search</button>
              </form>
              <ul class="navbar-nav ms-auto justify-content-center align-items-center">
                <li class="nav-item">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalId" style="padding: 0px;">
                    <a class="nav-link" href="javascript:void(0)"><i class="fa-solid fa-user"></i> Login</a>
                  </button>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="shopping_cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
    <h1 style="text-align: center;">Fashion</h1>
    <div class="container">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
          <div class="card">
            <img class="card-img-top" src="https://i.ibb.co/Qb9DvGg/Necklaces-Set.jpg" alt="Necklaces Set">
            <div class="card-body">
              <h4 class="card-title">Necklaces Set</h4>
              <p class="card-text">Add an unique style to any outfit with our Necklaces Set.</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://i.ibb.co/YhhXjPw/Rings.jpg" alt="Rings">
            <div class="card-body">
              <h4 class="card-title">Rings</h4>
              <p class="card-text">Express yourself with our stunning Ring collection.</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://i.ibb.co/S0xryPj/Spring-Shoes.jpg" alt="Shoes">
            <div class="card-body">
              <h4 class="card-title">Tennis Shoes</h4>
              <p class="card-text">Step comfortably in our fashionable Tennis Shoes.</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://i.ibb.co/xH4rHT8/Messenger-Bag.jpg" alt="Messenger Bag">
            <div class="card-body">
              <h4 class="card-title">Messenger Bag</h4>
              <p class="card-text">Stay organized and stylish with our Messenger Bag.</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://i.ibb.co/GxYjh9k/Pins.jpg" alt="Pins">
            <div class="card-body">
              <h4 class="card-title">Pretty Pins</h4>
              <p class="card-text">Add a touch of elegance to your attire with our Pretty Pins. </p>
            </div>
          </div>
        </div>
      </div>

            <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>
